/csv_files
/PostgreSQL_Project_Data_Job_Analysis.code-workspace
result_visualization/SQL_Project_Data_lob_Analysis_Dashboard.pbix

result_visualization/Q2.jpg
result_visualization/Q4.jpg
result_visualization/SQL_Project_Data_lob_Analysis_Dashboard.pbix
result_visualization/Resources/3846974_2031913.eps
result_visualization/Resources/3943648_2087832.eps
result_visualization/Resources/4121025_2173994.eps
result_visualization/Resources/34916185_8245931.svg
result_visualization/Resources/34916185_8245934.jpg
result_visualization/Resources/background.jpg
result_visualization/Resources/Background.psd
result_visualization/Resources/Background2.psd
result_visualization/Resources/github-logo-png_seeklogo-304612.png
result_visualization/Resources/p1.png
result_visualization/Resources/p2.png
result_visualization/Resources/p3.png
result_visualization/Resources/p4.png
result_visualization/Resources/p5.png
result_visualization/Resources/PBI.jpeg
result_visualization/Resources/PostgreSQL.png
result_visualization/Resources/psql.png
result_visualization/Resources/SQL.png
result_visualization/Resources/VSC.png
result_visualization/Resources/vsclogo-1.webp
result_visualization/Q2.jpg
result_visualization/Q4.jpg
result_visualization/SQL_Project_Data_lob_Analysis_Dashboard.pbix
result_visualization/Q2.jpg
result_visualization/SQL_Project_Data_lob_Analysis_Dashboard.pbix
